In [17]:
import sqlite3
import pandas as pd

In [16]:
try:
    conn = sqlite3.connect('../data/flats_31October2021.db')
    cursor = conn.cursor()

    cursor.execute(f"SELECT count(*) FROM flats")
    all_ads = cursor.fetchone()[0]
    print(f"\n\tNew ads overall: {all_ads}")

    sql_query = pd.read_sql_query('''SELECT * FROM prices LEFT JOIN flats ON prices.flat_id = flats.flat_id''', conn)

    df = pd.DataFrame(sql_query) #, columns = ['product_id', 'product_name', 'price'])
    print(df.head())

except sqlite3.Error as e:
    raise Exception

	New ads overall: 362847

NameError: name 'pd' is not defined